node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
~$CodeZilla'25_Sea_King_Inter_Ships.pptx

# Unrelated files
/Flutter-Application/
/Springboot-Application/
/CodeZilla'25_Sea_King_Inter_Ships.pptx

# Environment files
*.env
*.env.local
*.env.development
*.env.production

# Environment files
*.env
*.env.local
*.env.development
*.env.production
